# ---> Java
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ---> Scala
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

NhryService/.externalToolBuilders/
NhryService/.idea/
NhryService/NhryService.iml
NhryService/src/main/webapp/js/jquery-1.9.1.min.js
NhryService/src/main/webapp/js/jquery.json-2.4.js
新希望订奶到户数据库设计V0.2.pdm
新希望订奶到户数据库设计V0.3.pdm
Servers
NhryService/.settings
